* {
    box-sizing: border-box;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-top: 4px;
  
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  ul li.checked {
    background: #276678;
    color: #fff;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  .close {
    align-self: flex-start;
    border: none;
    background-color: white;
    font-size: 26px;
    line-height: 0;
    color: gray;
    position: absolute;
    pointer-events: auto;
    right: 0;
    top: 0;
    padding: 10px 6px;
  }
  
  .closeBtn {
    position: absolute;
    color: gray;
    right: 4px;
    top: 0px;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: transparent;
    color: black;
  }
  
  .closeBtn:hover {
    color: #f78501;
  }
  
  .header {
    background-color: #f78501;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  img {
    background-color: white;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .button {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    pointer-events: none;
  }
  
  .button:hover {
    background-color: #bbb;
  }
  
  .error {
    background-color: red;
  }
  
  .success {
    margin-left: auto;
  }
  
  .hide {
    background-color: #8e49e8;
  }
  
  .button.active {
    pointer-events: auto;
  }
  
  .footer {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
  }
  
  .footer button {
    border: none;
    outline: none;
    background: #8e49e8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
    /* opacity: 0.6;
    pointer-events: none; */
  }
  
  .footer button:hover {
    color: #f78501;
  }
  
  /* .footer button.active {
    opacity: 1;
    pointer-events: auto;
  } */
  
  .not-visible {
    visibility: hidden;
  }